html,body {
    height: 100%;
}
#greenBG {
    height: 40%;
    width: 100%;    
    background-color: rgb(58, 220, 58);
  
}  
.loginBOX{
    
    width: 50%; 
    padding: 10px 40px 10px 40px;
    background-color: white;

}

#grayBG {
    height: 60%;
    width: 100%;
    background-color: rgb(236, 234, 234);
    
}
.LoginButton{
    float: left;
    padding-left: 40px;
}
.LoginText {
    float: left;
    padding-left: 0px;
}
